/* streamOn */
#title {
  /* streamOn */
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 112px;
  text-align: center;
  letter-spacing: -0.02em;
  padding-top: 10px;
  padding-bottom: 10px;

  color: #000000;
}

#message {
  position: center;
  width: 614px;
  height: 126px;
  padding-top: 5px;
  /* padding-bottom: 5px; */

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}

#show-name {
  position: center;
  /* width: 330px;
  height: 88px; */
  /* left: 136px;
  top: 326px; */

  /* background: #F7F3F3;
  border: 2px solid #D8CFCF; */
  width: 30%;
  box-sizing: content-box;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* position: center; */
  display:flex;
  justify-content: center;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.02em;
  vertical-align: center;
  text-align: center;

  color: #5680E9;
}

#main-box {
  position: absolute;
  width: 80%;
  height: 70%;
  left: 10%;
  top: 15%;

  background: #FFFFFF;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

/* Rectangle 1 */
#show-info {
  width: 80%;
  background: #F7F3F3;
  border: 2px solid #D8CFCF;
  box-sizing: border-box;
  border-radius: 25px;
  /* position: center; */
  display:flex;
  justify-content: center;
}

table {
  position: center;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  /* width: 80%; */
}

th {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #5680E9;
  width: 30%;
}

td {
  text-align: left;
  font-family: 'Source Sans Pro', ans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  width: 70%;
}

#button {
  position: center;
  /* width: 152px; */
  height: 34px;
  border-radius: 10px;
  background: #5680E9;

  width: 20%;
  /* margin-left: 35%;
  margin-right: 35%; */


  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin: auto;
  display: table-cell;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

#button-feedback {
  position: center;
  /* width: 152px; */
  height: 20px;
  border-radius: 5px;
  background: #5680E9;

  width: 10%;
  /* margin-left: 35%;
  margin-right: 35%; */


  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 1px;
  margin: auto;
  display: table-cell;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}