
/* streamOn */
#title {
  /* streamOn */
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 112px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
}

#main-box{
  position: absolute;
  width: 80%;
  height: 70%;
  left: 10%;
  top: 15%;

  background: #FFFFFF;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

/* Rectangle 1 */
#box1 {

  /* position: absolute;
  width: 330px;
  height: 393px;
  left: 98px;
  top: 314px;  */
  background: #F7F3F3;
  border: 4px solid #D8CFCF;
  box-sizing: border-box;
  border-radius: 25px;
}


/* Rectangle 2 */
#box2{
  position: absolute;
  width: 330px;
  height: 393px;
  left: 568px;
  top: 314px; 
  padding: auto;
  
  background: #F7F3F3;
  border: 4px solid #D8CFCF;
  box-sizing: border-box;
  border-radius: 25px;
}


/* Rectangle 3 */
#box3{
  position: absolute;
  width: 330px;
  height: 393px;
  left: 1061px;
  top: 314px; 
  
  background: #F7F3F3;
  border: 4px solid #D8CFCF;
  box-sizing: border-box;
  border-radius: 25px;
}

#message {
  position: center;
  width: 614px;
  height: 126px;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}

#button {
  position: center;
  width: 152px;
  height: 34px;
  border-radius: 10px;
  background: #5680E9;


  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin: auto;
  display: table-cell;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}





