@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:400px) {
    .help-tip{
        top: 18px;
        right: 18px;
        text-align: center;
        background-color: #BCDBEA;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 14px;
        line-height: 26px;
        cursor: default;
    }
    
    .help-tip:before{
        content:'?';
        font-weight: bold;
        color:#fff;
    }
    
    .help-tip:hover p{
        display:block;
        transform-origin: 100% 0%;
    
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
    
    }
    
    .help-tip p{    /* The tooltip */
        display: none;
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 300px;
        position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -4px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;
    }
    
    .help-tip p:before{ /* The pointer of the tooltip */
        position: absolute;
        content: '';
        width:0;
        height: 0;
        border:6px solid transparent;
        border-bottom-color:#1E2021;
        right:10px;
        top:-12px;
    }
    
    .help-tip p:after{ /* Prevents the tooltip from being hidden */
        width:100%;
        height:40px;
        content:'';
        position: absolute;
        top:-40px;
        left:0;
    }
    
    /* CSS animation */
    
    @-webkit-keyframes fadeIn {
        0% { 
            opacity:0; 
            transform: scale(0.6);
        }
    
        100% {
            opacity:100%;
            transform: scale(1);
        }
    }
    
    @keyframes fadeIn {
        0% { opacity:0; }
        100% { opacity:100%; }
    }
    
    .ui-menu {
        border-radius: 20px;
        background-color: #f0fffe;
        border-color: rgb(0, 0, 0);
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
        
    }

    .ui-menu .ui-menu-item a
    {
        display: block;
        padding: 3px 3px 3px 3px;
        text-decoration: none;
        cursor: pointer;
        background-color: whitesmoke;
        color: black
    }

    .ui-menu .ui-menu-item a:hover
    {
        display: block;
        padding: 3px 3px 3px 3px;
        text-decoration: none;
        color: White;
        cursor: pointer;
        background-color: grey;
    }

    
    
    .ui-helper-hidden-accessible {
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 0px;
        padding-bottom: 5px;
    }
    
    .ui-autocomplete {
        position: absolute;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        list-style: none;
        background-color: #f0fffe;
        border-color: rgb(0, 0, 0);
        border-style: solid;
        border-width: 1px;
        padding-bottom: 10px;
        max-height: 224px;
        overflow-y: auto;   /* prevent horizontal scrollbar */
        overflow-x: hidden; /* add padding to account for vertical scrollbar */
        z-index:1000 !important;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
        
    }
    
    .selectize-control { width: 20px; }

    .global-search {
        padding: 20px 0;
        text-align: center;

    }
    .btw{
        font-size: 16px;
        color: #4285F4;
        font-family: Roboto Condensed;
    }

    body {
        position: absolute;
        width: 100%;
        height: 124%;
        padding-top: 15%;
        padding-bottom: 15%;
        background-image: url("../static/streamOn_background.png");
    }

    .form-inline {
        position: absolute;
        width: 80%;
        height: 84%;
        left: 10%;
        top: 8%;

        background: #FFFFFF;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }
    .slidecontainer{
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        background-color:whitesmoke;
        border-radius: 20px;
    }
    .slid{
        width: 240px;
    }


    .global-search .form-control {
        width: 500px;
        position: center;
    }

    .global-search * {
        display: inline-block;
        margin-bottom: 0;
    }
}

.topcorner {
    position: absolute;
    top: 2%;
    right: 2%;
}

.btn {
    background-color: #4285F4;
    border: none;
    position: center;
    text-align: center;
}

.step-links a {
    color: #4285F4;
    display: inline-block;
}

.display-box {
   position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
    top: 10%;
    bottom: 10%;
    background: #FFFFFF;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.back {
    position: absolute;
    left: 40%;
}

.button-feedback {
    position: center;
    /* width: 152px; */
    height: 30px;
    border-radius: 5px;
    border-width: 2px;
    width: 10%;
    /* margin-left: 35%;
  margin-right: 35%; */


    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin: auto;
    display: table-cell;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    letter-spacing: -0.02em;
    color: #000000;
}

.center {
    margin:auto;
    width: 50%;
}

