#title {
  /* streamOn */
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 112px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
}

#caption {
  position: left;
  width: 131px;
  height: 28px;
  /*     left: 384px;
    top: 298px; */

  font-family: Lucida Grande;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.02em;

  color: #8A8A8A;
}

#query {
  position: center;
  width: 727px;
  height: 51px;
  /* left: 357px; */
  /* top: 326px; */

  background: #F7F3F3;
  border: 2px solid #D8CFCF;
  box-sizing: border-box;
  border-radius: 25px;
  margin: auto;

  font-family: Lucida Grande;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.02em;

  color: #8A8A8A;
}

#smallquery {
  position: center;
  width: 363px;
  height: 51px;
  /* left: 136px;
  top: 421px; */

  background: #F7F3F3;
  border: 2px solid #D8CFCF;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: Lucida Grande;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.02em;

  color: #8A8A8A;
}

#button {
  position: center;
  width: 302px;
  height: 56px;
  /* left: 608px;
top: 601px; */
  border-radius: 10px;
  background: #5680E9;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  margin: auto;

  color: #FFFFFF;

}
