<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/prototype1.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lucida+Grande&display=swap" rel="stylesheet" />
</head>

<body>
    <form action="https://stream-on-test.herokuapp.com">
        <h1 id="title" style = "align-content: center;">
            stream<span id="title" style="color: #5680E9;">On </span>
        </h1>
        <p style="text-align: center;">
            Sorry no result found! Please try another search!
        </p>
        <br><br>
        <button type="submit" class="btn btn-info" style="align-content: center; position:center"> Go Back! </button>
    </form>
</body>

</html>