<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/prototype1.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lucida+Grande&display=swap" rel="stylesheet" />
</head>

<body>
    <form class="form-inline global-search" id="main-search">
        <h1 id="title">
            stream<span id="title" style="color: #5680E9;">On </span>
        </h1>

        <br><br>

        <div class="form-group">
            <input id="query" type="text" name="search" class="form-control" placeholder="Enter TV Show *">
        <br><br>
            <input id="smallquery" type="text" name="freeSearch" class="form-control" placeholder="Enter keyword">
            <input id="smallquery" type="text" name="genre" class="form-control" placeholder="Genre">
        </div>
        <!--     <form class="form-inline global-search">
        <input id="not" type="text" name="notShow" class="form-control" placeholder="Shows not to include">
        <input id="type" type="text" name="Genre" class="form-control" placeholder="Genre">
        <input id="stream" type="text" name="platform" class="form-control" placeholder="Platforms"> -->
    </form>
    <button id="button" type="submit" position="center" form="main-search"> Find Shows! </button>
</body>

</html>